Ejercicio2Servidor/wsdl/PersonaSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonaSoapService" targetNamespace="http://webservice/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservice/" elementFormDefault="unqualified" targetNamespace="http://webservice/" version="1.0">

  <xs:element name="agregarPersona" type="tns:agregarPersona"/>

  <xs:element name="agregarPersonaResponse" type="tns:agregarPersonaResponse"/>

  <xs:element name="eliminarPersona" type="tns:eliminarPersona"/>

  <xs:element name="eliminarPersonaResponse" type="tns:eliminarPersonaResponse"/>

  <xs:element name="modificarPersona" type="tns:modificarPersona"/>

  <xs:element name="modificarPersonaResponse" type="tns:modificarPersonaResponse"/>

  <xs:element name="obtenerPersona" type="tns:obtenerPersona"/>

  <xs:element name="obtenerPersonaResponse" type="tns:obtenerPersonaResponse"/>

  <xs:element name="obtenerPersonas" type="tns:obtenerPersonas"/>

  <xs:element name="obtenerPersonasResponse" type="tns:obtenerPersonasResponse"/>

  <xs:complexType name="obtenerPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obtenerPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:personaTo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="personaTo">
    <xs:sequence>
      <xs:element minOccurs="0" name="altura" type="xs:float"/>
      <xs:element minOccurs="0" name="apellido" type="xs:string"/>
      <xs:element minOccurs="0" name="fechanacimiento" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ordenadores" nillable="true" type="tns:ordenadorTo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ordenadorTo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nombre" type="xs:string"/>
      <xs:element minOccurs="0" name="persona" type="tns:personaTo"/>
      <xs:element minOccurs="0" name="serial" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="eliminarPersonaResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="agregarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:personaTo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="agregarPersonaResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="modificarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:personaTo"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="modificarPersonaResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerPersonas">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerPersonasResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:personaTo"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="eliminarPersonaResponse">
    <wsdl:part element="tns:eliminarPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarPersonaResponse">
    <wsdl:part element="tns:agregarPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPersonaResponse">
    <wsdl:part element="tns:obtenerPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPersona">
    <wsdl:part element="tns:obtenerPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPersonasResponse">
    <wsdl:part element="tns:obtenerPersonasResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenerPersonas">
    <wsdl:part element="tns:obtenerPersonas" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="agregarPersona">
    <wsdl:part element="tns:agregarPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="eliminarPersona">
    <wsdl:part element="tns:eliminarPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modificarPersona">
    <wsdl:part element="tns:modificarPersona" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modificarPersonaResponse">
    <wsdl:part element="tns:modificarPersonaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IPersonaSoap">
    <wsdl:operation name="obtenerPersona">
      <wsdl:input message="tns:obtenerPersona" name="obtenerPersona">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPersonaResponse" name="obtenerPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <wsdl:input message="tns:eliminarPersona" name="eliminarPersona">
    </wsdl:input>
      <wsdl:output message="tns:eliminarPersonaResponse" name="eliminarPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarPersona">
      <wsdl:input message="tns:agregarPersona" name="agregarPersona">
    </wsdl:input>
      <wsdl:output message="tns:agregarPersonaResponse" name="agregarPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarPersona">
      <wsdl:input message="tns:modificarPersona" name="modificarPersona">
    </wsdl:input>
      <wsdl:output message="tns:modificarPersonaResponse" name="modificarPersonaResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersonas">
      <wsdl:input message="tns:obtenerPersonas" name="obtenerPersonas">
    </wsdl:input>
      <wsdl:output message="tns:obtenerPersonasResponse" name="obtenerPersonasResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonaSoapServiceSoapBinding" type="tns:IPersonaSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eliminarPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="eliminarPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="eliminarPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="agregarPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="agregarPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarPersona">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modificarPersona">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modificarPersonaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersonas">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenerPersonas">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenerPersonasResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonaSoapService">
    <wsdl:port binding="tns:PersonaSoapServiceSoapBinding" name="PersonaSoapPort">
      <soap:address location="http://localhost:8080/Ejercicio2Servidor/ws/PersonaSoap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>