Ejercicio1Servidor/WebContent/wsdl/CalculadoraSoapPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculadoraSoapService" targetNamespace="http://webservice/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://webservice/" version="1.0">

  <xs:element name="dividir" type="tns:dividir"/>

  <xs:element name="dividirResponse" type="tns:dividirResponse"/>

  <xs:element name="multiplicar" type="tns:multiplicar"/>

  <xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

  <xs:element name="restar" type="tns:restar"/>

  <xs:element name="restarResponse" type="tns:restarResponse"/>

  <xs:element name="sumar" type="tns:sumar"/>

  <xs:element name="sumarResponse" type="tns:sumarResponse"/>

  <xs:complexType name="restar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:float"/>
      <xs:element name="arg1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="restarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dividir">
    <xs:sequence>
      <xs:element name="arg0" type="xs:float"/>
      <xs:element name="arg1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dividirResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sumar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:float"/>
      <xs:element name="arg1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sumarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplicar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:float"/>
      <xs:element name="arg1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="multiplicarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="multiplicarResponse">
    <wsdl:part element="tns:multiplicarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicar">
    <wsdl:part element="tns:multiplicar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dividirResponse">
    <wsdl:part element="tns:dividirResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumar">
    <wsdl:part element="tns:sumar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dividir">
    <wsdl:part element="tns:dividir" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restar">
    <wsdl:part element="tns:restar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restarResponse">
    <wsdl:part element="tns:restarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumarResponse">
    <wsdl:part element="tns:sumarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICalculadoraSoap">
    <wsdl:operation name="restar">
      <wsdl:input message="tns:restar" name="restar">
    </wsdl:input>
      <wsdl:output message="tns:restarResponse" name="restarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <wsdl:input message="tns:dividir" name="dividir">
    </wsdl:input>
      <wsdl:output message="tns:dividirResponse" name="dividirResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <wsdl:input message="tns:sumar" name="sumar">
    </wsdl:input>
      <wsdl:output message="tns:sumarResponse" name="sumarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <wsdl:input message="tns:multiplicar" name="multiplicar">
    </wsdl:input>
      <wsdl:output message="tns:multiplicarResponse" name="multiplicarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraSoapServiceSoapBinding" type="tns:ICalculadoraSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="restar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="restar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="restarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="dividir">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="dividirResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="multiplicar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplicarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sumar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sumar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sumarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculadoraSoapService">
    <wsdl:port binding="tns:CalculadoraSoapServiceSoapBinding" name="CalculadoraSoapPort">
      <soap:address location="http://localhost:8080/Ejercicio1Servidor/services/CalculadoraSoapPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
